:root {
  --primary-font: Poppins, sans-serif;
  --primary-color: #030303;
  --white-color: #ffffff;
  --logo-color: #00e6f3;
  --logo-color-part: #e6003a;
  --background-paymants: #0c0e11;
  --button-background: #cf0e48;
  --button-background-color: #0ff;
  --color-copiryt: #899194;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.5;
  background-color: var(--primary-color);
  color: var(--white-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  border: transparent;
  transition: color var(--transition-dur-and-func);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  cursor: pointer;
  transition: color var(--transition-dur-and-func);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  .container {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
}

.logotype-img {
  width: 60px;
}

.header-nav-list {
  display: flex;
  gap: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--logo-color);
}
.button-list {
  display: flex;
  gap: 12px;
}
.button-item {
  font-size: 10px;
}
.button-login {
  font-weight: 700;
  background-color: #cf0e48;
  color: var(--white-color);
}

.button-login:hover,
.button-login:focus {
  background-color: var(--button-background-color);
  color: var(--primary-color);
}
.button-logup {
  font-weight: 700;
  background-color: var(--button-background-color);
  color: var(--primary-color);
}

.button-logup:hover,
.button-logup:focus {
  background-color: #cf0e48;
  color: var(--white-color);
}
.nav-link {
  color: var(--white-color);
}

.page-title {
  font-family: var(--primary-font);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}

.title {
  color: var(--logo-color);
}
.title-part {
  color: var(--logo-color-part);
}

.page-text {
  font-weight: 400;
  margin-top: 12px;
}

.baner-container {
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.5),
      rgba(46, 47, 66, 0.5)
    ),
    url(/images/baner.jpg);
  border-radius: 20px;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-color);
}
.baner-container:hover {
  transform: scale(1.01);
  transition: 250ms linear;
}

.hero-subtitle {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 24px;
}

.hero-button {
  font-weight: 700;
  background-color: var(--button-background-color);
  color: var(--primary-color);
  margin-top: 12px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #cf0e48;
  color: var(--white-color);
}

.footer {
  margin-top: 24px;
}

.paymants-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 64px;
  background-color: var(--background-paymants);
  border-radius: 20px;
}

.paymant-img {
  height: 15px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.footer-nav-link {
  font-size: 10px;
  color: var(--white-color);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--logo-color);
}

.copyright-text {
  font-size: 9px;
  text-align: center;
  color: var(--color-copiryt);
  border-top: 1px solid #20262e;
  margin-top: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .header-nav {
    order: 2;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .logotype-img {
    width: auto;
    height: 22px;
  }

  .page-title {
    margin-top: 24px;
    font-size: 36px;
  }

  .page-text {
    margin-top: 20px;
  }

  .footer {
    margin-top: 40px;
  }

  .paymants-list {
    gap: 32px;
    height: 72px;
  }

  .footer-nav-list {
    margin-top: 40px;
  }

  .copyright-text {
    font-size: 13px;
    margin-top: 24px;
  }
}
